<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, t('view.tasks.error_notification_word') ) %></h2>
      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name, t('view.tasks.task_name') %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :description, t('view.tasks.task_description') %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :deadline, t('view.tasks.task_deadline') %>
    <%= form.text_field :deadline, id: "datepicker", readonly: "readonly" %>
  </div>
  <div class="field">
    <%= form.label :status, t('view.tasks.task_status') %>
    <%= form.select :status, [t('view.tasks.task_status_not_yet_started'),t('view.tasks.task_status_started'),t('view.tasks.task_status_complete')] %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
